body {
    /*background-color: rgba(255, 217, 0, 0.05);*/
    background-image: url(index-SPIRALA-Solutions-01-2023-02-19.png);
}

.body {
    margin: 0% 10%;
    /*background-color: rgba(255, 217, 0, 0.05);*/
    background-color: rgba(255, 217, 0, 0.9);
}

.center {
    /*margin: 1.5% 0% 0%;*/
    text-align: center;
}

h1, h2 {
    font-family: sans-serif;
    /*color: rgb(33, 165, 31);*/
    color: rgb(3, 135, 1);
    text-align: center;
}

#logo-capa {
    margin-top: 1.5%;
    height: 250px;
}

p {
    font-family: sans-serif;
    font-size: large;
    color: rgb(65, 2, 2);
    margin: 0% 5% 2%;
}

strong {
    color: rgb(3, 135, 1);
}

.footer {
    text-align: center;
    font-size: small;
}
